<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ode SYSTEM "content.dtd">
<ode xmlns="http://www.intef.es/xsd/ode" version="2.0">
<userPreferences>
  <userPreference>
    <key>theme</key>
    <value>base</value>
  </userPreference>
</userPreferences>
<odeResources>
  <odeResource>
    <key>odeId</key>
    <value>20260424163731ZXTX29</value>
  </odeResource>
  <odeResource>
    <key>odeVersionId</key>
    <value>20260424163731RTYRAZ</value>
  </odeResource>
  <odeResource>
    <key>exe_version</key>
    <value>3.0</value>
  </odeResource>
</odeResources>
<odeProperties>
  <odeProperty>
    <key>pp_title</key>
    <value>Guardianes del Entorno</value>
  </odeProperty>
  <odeProperty>
    <key>pp_author</key>
    <value>María de la Mano </value>
  </odeProperty>
  <odeProperty>
    <key>pp_lang</key>
    <value>es</value>
  </odeProperty>
  <odeProperty>
    <key>pp_license</key>
    <value>creative commons: attribution - share alike 4.0</value>
  </odeProperty>
  <odeProperty>
    <key>pp_licenseUrl</key>
    <value>https://creativecommons.org/licenses/by-sa/4.0/</value>
  </odeProperty>
  <odeProperty>
    <key>pp_theme</key>
    <value>base</value>
  </odeProperty>
  <odeProperty>
    <key>pp_exelearning_version</key>
    <value>v4.0.0-rc2</value>
  </odeProperty>
  <odeProperty>
    <key>pp_modified</key>
    <value>1777041444316</value>
  </odeProperty>
  <odeProperty>
    <key>pp_addExeLink</key>
    <value>true</value>
  </odeProperty>
  <odeProperty>
    <key>pp_addPagination</key>
    <value>false</value>
  </odeProperty>
  <odeProperty>
    <key>pp_addSearchBox</key>
    <value>true</value>
  </odeProperty>
  <odeProperty>
    <key>pp_addAccessibilityToolbar</key>
    <value>false</value>
  </odeProperty>
  <odeProperty>
    <key>pp_addMathJax</key>
    <value>false</value>
  </odeProperty>
  <odeProperty>
    <key>exportSource</key>
    <value>true</value>
  </odeProperty>
  <odeProperty>
    <key>pp_globalFont</key>
    <value>default</value>
  </odeProperty>
</odeProperties>
<odeNavStructures>
<odeNavStructure>
  <odePageId>page-mod0ldxe-5j5w99e9x</odePageId>
  <odeParentPageId></odeParentPageId>
  <pageName>Guardianes del Entorno</pageName>
  <odeNavStructureOrder>0</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>Guardianes del Entorno</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>Guardianes del Entorno</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value>Guardianes del Entorno</value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxe-5j5w99e9x</odePageId>
      <odeBlockId>block-1776415559682-lw3ivi56l</odeBlockId>
      <blockName>Texto</blockName>
      <iconName></iconName>
      <odePagStructureOrder>1</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxe-5j5w99e9x</odePageId>
          <odeBlockId>block-1776415559682-lw3ivi56l</odeBlockId>
          <odeIdeviceId>idevice-1776415559676-rbgejbq4q</odeIdeviceId>
          <odeIdeviceTypeName>text</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-text-template">
    <p><strong>Etapa y nivel:</strong> Educación Primaria, 3.º curso.<br /><strong>Áreas implicadas: </strong></p>
<p style="text-align: justify;">Conocimiento del Medio Natural, Social y Cultural (Troncal).</p>
<p style="text-align: justify;">Lengua Castellana y Literatura (Para el podcast y guiones).<br />Educación Artística (Para la infografía).<br /><strong>Agrupamientos</strong>:</p>
<p>Individual: Registro de datos en el cuaderno de campo.</p>
<p>Parejas: Investigación en internet sobre una planta específica.<br />Equipos de 4 (Cooperativo): Reparto de roles (secretario, portavoz, gestor de materiales y moderador) para el producto final.</p>
<p><br /><strong>Temporalización</strong>: 8 sesiones de 50 minutos.</p>
<p><br /><strong>Productos finales:</strong></p>
<p><strong>Producto A:</strong> Una Infografía Interactiva en Genially donde expliquen las partes de una planta y, al pulsar en iconos, se desplieguen fotos reales hechas por ellos.</p>
<p><strong>Producto B</strong>: Un Podcast tipo radio-escolar entrevistando a "un experto botánico" (un compañero disfrazado) sobre la importancia de no pisar los parterres del colegio.<br /><strong>Herramientas tecnológicas:</strong> Tablets del centro, editor de audio (Audacity o herramienta online), Canva/Genially y el propio eXelearning.</p>
</div>]]></htmlView>
          <jsonProperties><![CDATA[{"ideviceId":"idevice-1776415559676-rbgejbq4q","textInfoDurationInput":"","textInfoDurationTextInput":"Duración","textInfoParticipantsInput":"","textInfoParticipantsTextInput":"Agrupamiento","textTextarea":"<p><strong>Etapa y nivel:</strong> Educación Primaria, 3.º curso.<br /><strong>Áreas implicadas: </strong></p>\n<p style=\"text-align: justify;\">Conocimiento del Medio Natural, Social y Cultural (Troncal).</p>\n<p style=\"text-align: justify;\">Lengua Castellana y Literatura (Para el podcast y guiones).<br />Educación Artística (Para la infografía).<br /><strong>Agrupamientos</strong>:</p>\n<p>Individual: Registro de datos en el cuaderno de campo.</p>\n<p>Parejas: Investigación en internet sobre una planta específica.<br />Equipos de 4 (Cooperativo): Reparto de roles (secretario, portavoz, gestor de materiales y moderador) para el producto final.</p>\n<p><br /><strong>Temporalización</strong>: 8 sesiones de 50 minutos.</p>\n<p><br /><strong>Productos finales:</strong></p>\n<p><strong>Producto A:</strong> Una Infografía Interactiva en Genially donde expliquen las partes de una planta y, al pulsar en iconos, se desplieguen fotos reales hechas por ellos.</p>\n<p><strong>Producto B</strong>: Un Podcast tipo radio-escolar entrevistando a \"un experto botánico\" (un compañero disfrazado) sobre la importancia de no pisar los parterres del colegio.<br /><strong>Herramientas tecnológicas:</strong> Tablets del centro, editor de audio (Audacity o herramienta online), Canva/Genially y el propio eXelearning.</p>","textFeedbackInput":"Mostrar retroalimentación","textFeedbackTextarea":""}]]></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
<odeNavStructure>
  <odePageId>page-mod0ldxj-n4duxm7os</odePageId>
  <odeParentPageId>page-mod0ldxe-5j5w99e9x</odeParentPageId>
  <pageName>1. Intención Educativa</pageName>
  <odeNavStructureOrder>0</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>1. Intención Educativa</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>1. Intención Educativa</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value>1. Intención Educativa</value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxj-n4duxm7os</odePageId>
      <odeBlockId>block-1776415724733-7c4u68nmc</odeBlockId>
      <blockName>Texto</blockName>
      <iconName></iconName>
      <odePagStructureOrder>1</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxj-n4duxm7os</odePageId>
          <odeBlockId>block-1776415724733-7c4u68nmc</odeBlockId>
          <odeIdeviceId>idevice-1776415724732-blcts6827</odeIdeviceId>
          <odeIdeviceTypeName>text</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-text-template">
    <p><strong>Justificación</strong>: Esta SdA nace de la curiosidad del alumnado por las plantas del patio. El impacto esperado es una mejora en el respeto al entorno cercano y el desarrollo de la competencia digital.<br /><strong>ODS</strong>:</p>
<p>ODS 15 (Vida de ecosistemas terrestres): Detener la pérdida de biodiversidad local.</p>
<p><br /><strong>Retos del Siglo XXI:</strong> Compromiso ciudadano con la sostenibilidad y desarrollo de la alfabetización mediática (creación de contenido propio).</p>
</div>]]></htmlView>
          <jsonProperties><![CDATA[{"ideviceId":"idevice-1776415724732-blcts6827","textInfoDurationInput":"","textInfoDurationTextInput":"Duración","textInfoParticipantsInput":"","textInfoParticipantsTextInput":"Agrupamiento","textTextarea":"<p><strong>Justificación</strong>: Esta SdA nace de la curiosidad del alumnado por las plantas del patio. El impacto esperado es una mejora en el respeto al entorno cercano y el desarrollo de la competencia digital.<br /><strong>ODS</strong>:</p>\n<p>ODS 15 (Vida de ecosistemas terrestres): Detener la pérdida de biodiversidad local.</p>\n<p><br /><strong>Retos del Siglo XXI:</strong> Compromiso ciudadano con la sostenibilidad y desarrollo de la alfabetización mediática (creación de contenido propio).</p>","textFeedbackInput":"Mostrar retroalimentación","textFeedbackTextarea":""}]]></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
<odeNavStructure>
  <odePageId>page-mod0ldxk-1ry1kdn77</odePageId>
  <odeParentPageId>page-mod0ldxe-5j5w99e9x</odeParentPageId>
  <pageName>2. Elementos curriculares </pageName>
  <odeNavStructureOrder>1</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>2. Elementos curriculares </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>2. Elementos curriculares </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value></value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxk-1ry1kdn77</odePageId>
      <odeBlockId>block-1776415765780-ewuaisohe</odeBlockId>
      <blockName>Texto</blockName>
      <iconName></iconName>
      <odePagStructureOrder>1</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxk-1ry1kdn77</odePageId>
          <odeBlockId>block-1776415765780-ewuaisohe</odeBlockId>
          <odeIdeviceId>idevice-1776415765778-k5aixoyp9</odeIdeviceId>
          <odeIdeviceTypeName>text</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-text-template">
    <table border="1" style="width: 100.037%; height: 164px; border-color: #000000; border-style: dotted;">
<tbody>
<tr style="height: 32.8px;">
<td style="width: 29.8038%; height: 32.8px; text-align: center;"><strong>ELEMENTO</strong></td>
<td style="width: 70.1592%; height: 32.8px; text-align: center;"><strong>DESCRIPCIÓN 3º PRIMARIA </strong></td>
</tr>
<tr style="height: 32.8px;">
<td style="width: 29.8038%; height: 32.8px;">Competencia Clave</td>
<td style="width: 70.1592%; height: 32.8px;"><strong>STEM</strong> (Ciencia y tecnología) y <strong>CD</strong> (Competencia Digital).</td>
</tr>
<tr style="height: 32.8px;">
<td style="width: 29.8038%; height: 32.8px;">C. Específica</td>
<td style="width: 70.1592%; height: 32.8px;"><strong>CE.CM.2</strong>: Identificar las características de los seres vivos y su relación con el medio.</td>
</tr>
<tr style="height: 32.8px;">
<td style="width: 29.8038%; height: 32.8px;">Saber Básico</td>
<td style="width: 70.1592%; height: 32.8px;">Las plantas: procesos vitales (fotosíntesis básica, reproducción). Uso de herramientas digitales de creación.</td>
</tr>
<tr style="height: 32.8px;">
<td style="width: 29.8038%; height: 32.8px;">Criterio Evaluación </td>
<td style="width: 70.1592%; height: 32.8px;">2.1.a: Clasifica plantas del entorno identificando sus funciones y propone medidas para su cuidado.</td>
</tr>
</tbody>
</table>
<p></p>
</div>]]></htmlView>
          <jsonProperties><![CDATA[{"ideviceId":"idevice-1776415765778-k5aixoyp9","textInfoDurationInput":"","textInfoDurationTextInput":"Duración","textInfoParticipantsInput":"","textInfoParticipantsTextInput":"Agrupamiento","textTextarea":"<table border=\"1\" style=\"width: 100.037%; height: 164px; border-color: #000000; border-style: dotted;\">\n<tbody>\n<tr style=\"height: 32.8px;\">\n<td style=\"width: 29.8038%; height: 32.8px; text-align: center;\"><strong>ELEMENTO</strong></td>\n<td style=\"width: 70.1592%; height: 32.8px; text-align: center;\"><strong>DESCRIPCIÓN 3º PRIMARIA </strong></td>\n</tr>\n<tr style=\"height: 32.8px;\">\n<td style=\"width: 29.8038%; height: 32.8px;\">Competencia Clave</td>\n<td style=\"width: 70.1592%; height: 32.8px;\"><strong>STEM</strong> (Ciencia y tecnología) y <strong>CD</strong> (Competencia Digital).</td>\n</tr>\n<tr style=\"height: 32.8px;\">\n<td style=\"width: 29.8038%; height: 32.8px;\">C. Específica</td>\n<td style=\"width: 70.1592%; height: 32.8px;\"><strong>CE.CM.2</strong>: Identificar las características de los seres vivos y su relación con el medio.</td>\n</tr>\n<tr style=\"height: 32.8px;\">\n<td style=\"width: 29.8038%; height: 32.8px;\">Saber Básico</td>\n<td style=\"width: 70.1592%; height: 32.8px;\">Las plantas: procesos vitales (fotosíntesis básica, reproducción). Uso de herramientas digitales de creación.</td>\n</tr>\n<tr style=\"height: 32.8px;\">\n<td style=\"width: 29.8038%; height: 32.8px;\">Criterio Evaluación </td>\n<td style=\"width: 70.1592%; height: 32.8px;\">2.1.a: Clasifica plantas del entorno identificando sus funciones y propone medidas para su cuidado.</td>\n</tr>\n</tbody>\n</table>\n<p></p>","textFeedbackInput":"Mostrar retroalimentación","textFeedbackTextarea":""}]]></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
<odeNavStructure>
  <odePageId>page-mod0ldxl-od3j8c613</odePageId>
  <odeParentPageId>page-mod0ldxe-5j5w99e9x</odeParentPageId>
  <pageName>3. Metodologías Activas </pageName>
  <odeNavStructureOrder>2</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>3. Metodologías Activas </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>3. Metodologías Activas </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value></value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxl-od3j8c613</odePageId>
      <odeBlockId>block-1776415949296-n17nqapjn</odeBlockId>
      <blockName>Texto</blockName>
      <iconName></iconName>
      <odePagStructureOrder>1</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxl-od3j8c613</odePageId>
          <odeBlockId>block-1776415949296-n17nqapjn</odeBlockId>
          <odeIdeviceId>idevice-1776415949293-2fejgxtox</odeIdeviceId>
          <odeIdeviceTypeName>text</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-text-template">
    <p>Aplicaremos el <strong>Aprendizaje Basado en Proyectos (ABP</strong>) combinándolo con el <strong>Aprendizaje Cooperativo</strong>.</p>
<p><strong>¿Por qué?</strong></p>
<p>El alumnado no es un receptor pasivo; ellos deben investigar para resolver una pregunta guía: "¿Podríamos sobrevivir en el colegio si desaparecieran las plantas?". Cada equipo asume la responsabilidad de crear un recurso (infografía o podcast) que enseñe a los demás.</p>
</div>]]></htmlView>
          <jsonProperties><![CDATA[{"ideviceId":"idevice-1776415949293-2fejgxtox","textInfoDurationInput":"","textInfoDurationTextInput":"Duración","textInfoParticipantsInput":"","textInfoParticipantsTextInput":"Agrupamiento","textTextarea":"<p>Aplicaremos el <strong>Aprendizaje Basado en Proyectos (ABP</strong>) combinándolo con el <strong>Aprendizaje Cooperativo</strong>.</p>\n<p><strong>¿Por qué?</strong></p>\n<p>El alumnado no es un receptor pasivo; ellos deben investigar para resolver una pregunta guía: \"¿Podríamos sobrevivir en el colegio si desaparecieran las plantas?\". Cada equipo asume la responsabilidad de crear un recurso (infografía o podcast) que enseñe a los demás.</p>","textFeedbackInput":"Mostrar retroalimentación","textFeedbackTextarea":""}]]></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
<odeNavStructure>
  <odePageId>page-mod0ldxl-mb7bgspha</odePageId>
  <odeParentPageId>page-mod0ldxe-5j5w99e9x</odeParentPageId>
  <pageName>4. Vinculación proyectos y programas </pageName>
  <odeNavStructureOrder>3</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>4. Vinculación proyectos y programas </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>4. Vinculación proyectos y programas </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value></value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxl-mb7bgspha</odePageId>
      <odeBlockId>block-1776415994408-stppjrtpl</odeBlockId>
      <blockName>Texto</blockName>
      <iconName></iconName>
      <odePagStructureOrder>1</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxl-mb7bgspha</odePageId>
          <odeBlockId>block-1776415994408-stppjrtpl</odeBlockId>
          <odeIdeviceId>idevice-1776415994406-c26req1j1</odeIdeviceId>
          <odeIdeviceTypeName>text</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-text-template">
    <p><strong>PLEI (Plan Lectura)</strong>: Se realizarán lecturas compartidas de cuentos ecológicos y búsqueda de información en la biblioteca.</p>
<p><br /><strong>PDC (Plan Digital de Centro):</strong> Uso de las tablets y aprendizaje del comportamiento ético en internet (derechos de autor de las imágenes usadas).</p>
</div>]]></htmlView>
          <jsonProperties><![CDATA[{"ideviceId":"idevice-1776415994406-c26req1j1","textInfoDurationInput":"","textInfoDurationTextInput":"Duración","textInfoParticipantsInput":"","textInfoParticipantsTextInput":"Agrupamiento","textTextarea":"<p><strong>PLEI (Plan Lectura)</strong>: Se realizarán lecturas compartidas de cuentos ecológicos y búsqueda de información en la biblioteca.</p>\n<p><br /><strong>PDC (Plan Digital de Centro):</strong> Uso de las tablets y aprendizaje del comportamiento ético en internet (derechos de autor de las imágenes usadas).</p>","textFeedbackInput":"Mostrar retroalimentación","textFeedbackTextarea":""}]]></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
<odeNavStructure>
  <odePageId>page-mod0ldxm-zsgdynln6</odePageId>
  <odeParentPageId>page-mod0ldxe-5j5w99e9x</odeParentPageId>
  <pageName>5. Actividades complementarias </pageName>
  <odeNavStructureOrder>4</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>5. Actividades complementarias </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>5. Actividades complementarias </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value></value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxm-zsgdynln6</odePageId>
      <odeBlockId>block-1776416016051-c63qq32fu</odeBlockId>
      <blockName>Texto</blockName>
      <iconName></iconName>
      <odePagStructureOrder>1</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxm-zsgdynln6</odePageId>
          <odeBlockId>block-1776416016051-c63qq32fu</odeBlockId>
          <odeIdeviceId>idevice-1776416016050-elqkdg2j8</odeIdeviceId>
          <odeIdeviceTypeName>text</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-text-template">
    <p><strong>Salida al parque cercano:</strong> Identificación de especies autóctonas y fotografía de las mismas para incluirlas en la infografía interactiva.</p>
</div>]]></htmlView>
          <jsonProperties><![CDATA[{"ideviceId":"idevice-1776416016050-elqkdg2j8","textInfoDurationInput":"","textInfoDurationTextInput":"Duración","textInfoParticipantsInput":"","textInfoParticipantsTextInput":"Agrupamiento","textTextarea":"<p><strong>Salida al parque cercano:</strong> Identificación de especies autóctonas y fotografía de las mismas para incluirlas en la infografía interactiva.</p>","textFeedbackInput":"Mostrar retroalimentación","textFeedbackTextarea":""}]]></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
<odeNavStructure>
  <odePageId>page-mod0ldxm-grpcty6ge</odePageId>
  <odeParentPageId>page-mod0ldxe-5j5w99e9x</odeParentPageId>
  <pageName>6. Atribución y descarga </pageName>
  <odeNavStructureOrder>5</odeNavStructureOrder>
  <odeNavStructureProperties>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>6. Atribución y descarga </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>visibility</key>
      <value>true</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>highlight</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>hidePageTitle</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>editableInPage</key>
      <value>false</value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titlePage</key>
      <value>6. Atribución y descarga </value>
    </odeNavStructureProperty>
    <odeNavStructureProperty>
      <key>titleNode</key>
      <value></value>
    </odeNavStructureProperty>
  </odeNavStructureProperties>
  <odePagStructures>
    <odePagStructure>
      <odePageId>page-mod0ldxm-grpcty6ge</odePageId>
      <odeBlockId>block-1776416043218-ue4arrjud</odeBlockId>
      <blockName>Descargar el archivo fuente</blockName>
      <iconName></iconName>
      <odePagStructureOrder>0</odePagStructureOrder>
      <odePagStructureProperties>
        <odePagStructureProperty>
          <key>visibility</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>teacherOnly</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>allowToggle</key>
          <value>true</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>minimized</key>
          <value>false</value>
        </odePagStructureProperty>
        <odePagStructureProperty>
          <key>cssClass</key>
          <value></value>
        </odePagStructureProperty>
      </odePagStructureProperties>
      <odeComponents>
        <odeComponent>
          <odePageId>page-mod0ldxm-grpcty6ge</odePageId>
          <odeBlockId>block-1776416043218-ue4arrjud</odeBlockId>
          <odeIdeviceId>idevice-1776416043216-b4ucl7ees</odeIdeviceId>
          <odeIdeviceTypeName>download-source-file</odeIdeviceTypeName>
          <htmlView><![CDATA[<div class="exe-download-package-instructions"><table class="exe-table exe-package-info"><caption>Información general sobre este recurso educativo</caption>
<tbody>
<tr>
<th>Título</th>
<td class="mceNonEditable exe-prop-locked"><span class="exe-prop-title">Guardianes del Entorno</span></td>
</tr>
<tr>
<th>Descripción</th>
<td class="mceNonEditable exe-prop-locked"><span class="exe-prop-description">-</span></td>
</tr>
<tr>
<th>Autoría</th>
<td class="mceNonEditable exe-prop-locked"><span class="exe-prop-author">María de la Mano </span></td>
</tr>
<tr>
<th>Licencia</th>
<td class="mceNonEditable exe-prop-locked"><span class="exe-prop-license">creative commons: attribution - share alike 4.0</span></td>
</tr>
</tbody>
</table>
<p style="text-align: center;">Este contenido fue creado con <a href="https://exelearning.net/">eXeLearning</a>, el editor libre y de fuente abierta diseñado para crear recursos educativos.</p></div><p class="exe-download-package-link"><a download="exe-package:elp-name" href="exe-package:elp" style="background-color:#107275;color:#ffffff;">Descargar el archivo .elp</a></p>]]></htmlView>
          <jsonProperties></jsonProperties>
          <odeComponentsOrder>0</odeComponentsOrder>
          <odeComponentsProperties>
            <odeComponentsProperty>
              <key>visibility</key>
              <value>true</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>teacherOnly</key>
              <value>false</value>
            </odeComponentsProperty>
            <odeComponentsProperty>
              <key>cssClass</key>
              <value></value>
            </odeComponentsProperty>
          </odeComponentsProperties>
        </odeComponent>
      </odeComponents>
    </odePagStructure>
  </odePagStructures>
</odeNavStructure>
</odeNavStructures>
</ode>